<div class="page">

    
    <div class="card-login">



        <form class="form-login">
            <div class="form-login__input-wrap">
                <label for="">Email</label>
                <input type="text">
            </div>
            <div class="form-login__input-wrap">
                <label for="">Password</label>
                <input type="text">
            </div>
            <div class="form-login__input-wrap">
                <button class="form-login__btn-submit btn" type="submit">Отправить</button>
            </div>
        </form>

        <p>
            Нет аккаунта? 
            <!-- <a class="card-login__link-registration" [routerLink]="['..', 'registration']">Зарегистрироваться</a> -->
            <a class="card-login__link-registration" routerLink="../registration">Зарегистрироваться</a>
            
        </p>

    </div>

</div>